<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<div th:fragment="posts" class="row">
    <div class="col-md-4">
        <div class="single-blog-item">
            <div class="blog-thumnail">
                <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
            </div>
            <div class="blog-content">
                <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                <a href="" class="more-btn">View More</a>
            </div>
            <span class="blog-date">May 03, 2015</span>
        </div>
    </div>

    <div class="col-md-4">
        <div class="single-blog-item">
            <div class="blog-thumnail">
                <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
            </div>
            <div class="blog-content">
                <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                <a href="" class="more-btn">View More</a>
            </div>
            <span class="blog-date">June 03, 2015</span>
        </div>
    </div>

    <div class="col-md-4">
        <div class="single-blog-item">
            <div class="blog-thumnail">
                <a href=""><img src="http://via.placeholder.com/370x275" alt="blog-img"></a>
            </div>
            <div class="blog-content">
                <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint expedita exercitationem nostrum, eligendi quis, esse quos atque in molestias animi.</p>
                <a href="" class="more-btn">View More</a>
            </div>
            <span class="blog-date">July 03, 2015</span>
        </div>
    </div>
</div>
</html>