<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<div th:fragment="posts" class="row">
    <tr th:each="post: ${posts}">
        <div class="col-md-4">
            <div class="single-blog-item">
                <div class="blog-thumnail">
                    <a th:href="@{'/post/' + ${post.id}}"><img src="/assets/img/Post_Thumbnail_Default_370x275.png" alt="blog-img"></a>
                </div>
                <div class="blog-content">
                    <h4><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Default Title</a></h4>
                    <p th:text="${post.author}">글 내용?</p>
                    <a th:href="@{'/post/' + ${post.id}}" class="more-btn">View More</a>
                </div>
                <span class="blog-date" th:text="${post.modifiedTime}">May 03, 2015</span>
            </div>
        </div>
    </tr>
</div>
</html>