<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default_layout"
>
<div class="container" layout:fragment="content">
    <th:block th:replace="contents/component/tags :: tags"></th:block>
    <th:block th:replace="contents/component/post_list :: posts"></th:block>
    <!-- Pager-->
    <div class="alert alert-danger" >더 이상의 포스트는 없습니다.</div>
    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
</div>


</html>
