<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default_layout"
>
<!-- Post Content-->
<div layout:fragment="content" class="container mb-4">
    <div id="title" class="row" style="border-bottom: solid 1px #dedede">
        <div align="left" class="col-md-8"><h2 th:text="${post.title}" >Default Title</h2></div>
        <div align="right" class="col-md-4" ><h4 th:text="${post.modifiedTime}">마지막 수정 날짜</h4></div>
    </div>
    <div id="post_info" class="row" style="border-bottom: solid 1px #dedede">
        <p>Tags:
            <a href="#"><span class="label label-info">Snipp</span></a>
            <a href="#"><span class="label label-info">Bootstrap</span></a>
            <a href="#"><span class="label label-info">UI</span></a>
            <a href="#"><span class="label label-info">growth</span></a>
            | <i class="fas fa-user"></i> <span th:text="${post.author}">Admin</span>
            | <i class="fas fa-comments"></i> <a href="#">3</a>
        </p>
    </div>
    <div th:if="${role == 'ROLE_ADMIN'}" id="controller" class="row">
        <button type="button" class="btn btn-success col-md-6" id="btn_update">수정 하기</button>
        <button type="button" class="btn btn-danger col-md-6" id="btn_delete">삭제 하기</button>
    </div>
    <label for = "content" class="row">Content</label>
    <div id = "content" class="row" style="border-bottom: solid 1px #dedede">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var content = /*[[ ${post.content} ]]*/;
            /*]]*/
            document.write(content);
        </script>
    </div>
    <a href = "/" type="button" class="btn btn-secondary">홈으로 돌아가기</a>
</div>
</html>
